/* Customize your main colors in :root variables */
:root {
  --main-background-color: #4c5473;
  --card-background-color: #d9bbde;
  --card-background-lighter-color: #7A7F92;
  --main-text-color: #F7F6F4;
  --title-text-color: #ffc927;
}

body{
  /*background-color:var(--main-background-color);*/
  background: url("img/background.png");
  background-size: cover;

  font-family: 'Roboto', cursive;
  font-size: 1.1em;
}

h2, p{
  color: var(--main-text-color);
}

h3{
font-weight: normal;
}



